@import "tailwindcss";
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}
.cards {
  background: linear-gradient(35deg , rgb(109, 109, 109) , rgb(212, 212, 212));
}
.cards-container {
  background: transparent; 
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 36px;
}
.card {
  background: rgb(165, 157, 157);
}